* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas {
  /*跟屏幕一样高*/
  /* height: 100vh; */
  /* 跟屏幕一样的宽 */
  /* width: 100vw; */

  /* border: 1px solid red; */
  /* canvas是inline元素，改成块级元素 */
  display: block;
}
/* body{ */
  /* border:1px solid blue; */
/* } */